<%- include('header') %>

<h1><%= title %></h1>

<div class="cardsContainer">
  <% 
    if(!deck) {

    }else {
        
    deck.forEach( (card) => { %>

    <div class="card">
      <a href="/details/<%= card.id %>">
        <img src="/visuals/<%= card.visual_name %>" alt="<%= card.name %> illustration">
        <p class="cardName"><%= card.name %></p>
      </a>
      <a class="link--addCard" title="Ajouter au deck" href="/add/<%= card.id %>">[ + ]</a>
      <a class="link--addCard" title="Ajouter au deck" href="/delete/<%= card.id %>">[ - ]</a>
    </div>

  <% })} %>
</div>


<%- include('footer') %>